root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
max_line_length = 70

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,ts}]
charset = utf-8

trim_trailing_whitespace = true
insert_final_newline = true